name: Build

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
        java-package: 'jdk+fx'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        cache-cleanup: never
    - name: Build with Gradle
      run: ./gradlew build --no-daemon --parallel
      env:
        MICROSOFT_AUTH_ID: ${{ secrets.MICROSOFT_AUTH_ID }}
        CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
    - name: Enc The Test Build
      run: cd HMCL/build/ && tar -cf libs.tar libs && gpg -o libs.tar.gpg --batch --passphrase ${{ secrets.GPG_KEY }} -c libs.tar
    - name: Upload Build
      uses: actions/upload-artifact@v4
      with:
        name: HMCL-jar
        path: HMCL/build/libs.tar.gpg
